* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #0071BC;
  --black: #282c34;
  --white: #FFFFFF;
  --green: #8CC63F;

  --red: #C53030;
  --light-grey: #EBEBEB;
  --medium-grey: #9E9E9E;
  --dark-grey: #424242;
  --yellow: #FFEE28;
}
